<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{repo.name}}</title>
    <style>
        body{
            background-color: #3a3944;
            color:white;
        }
        .container{
            width:60%;
            margin:auto;
        }
        .commit,.issue{
            border:1px solid grey;
            margin:20px;
            padding:10px;
            font-size:20px;
        }
        img{
            width:50px;
            height:50px;
            border-radius: 100px;
        }
        .committer-details,.user{
            display: flex;
            align-items: center;
            column-gap: 30px;
        }
        .date{
            font-size:25px;
        }
        .readme{
            border:1px solid grey;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
</head>
<body>
    <h1>{{repo.name}}</h1>

    <div class="container">
        <h2>Readme</h2>
        <div class="readme" id="readme">
            {{readme}}
        </div>
        <div class="commits">
        <h2>Commits</h2>
        {{#each commits as |commit|}}
            <div class="date">{{@key}}</div>
            {{#each commit as |c|}}
                <div class="commit">
                    <div class="message">Message: {{c.commit.message}}</div>
                    <div class="committer-details">
                        <img src={{c.committer.avatar_url}} alt="">
                        <div>{{c.committer.login}}</div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>


    <div class="issues">
        <h2>Issues</h2>
        {{#each issues as |issue|}}
            <div class="date">{{@key}}</div>
            {{#each issue as |i|}}
                <div class="issue">
                    <div class="title">{{i.title}}</div>
                    <div class="error">Error: {{i.body}}</div>
                    <div class="user">
                        <img src={{i.user.avatar_url}} alt="">
                        <div class="user-login">{{i.user.login}}</div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
    </div>
    <script src="/js/readme.js"></script>
</body>
</html>